body {
	background-color: LightGray;
	width: 100%;
}

/* Navigation Section */
.top-navigation {
	background-color: #FFF;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}