html {
	box-sizing: border-box;
}

*, *:before, *after {
	box-sizing: inherit;
}

body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* Navigation Section */
.top-navigation {
	background-color: #FFF;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.top-navigation > .content {
	width: 970px;
	height: 4.375rem;
	margin: 0 auto;
	padding: 0px 15px;
}

.content {
	padding: 0 0.938rem;
	margin: 0 auto;
	width: 970px;
}

.top-navigation .logo {
	height: 4.375rem;
}

.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	color: #838994;
	font-size: 16px;
	margin-top: 25px;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}

.top-navigation .links .active {
	color: #4C5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}

/* Introduction Section */

.introduction {
	background-image: url('../images/first-background.jpg');
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 650px;
	overflow: auto;
}

.introduction .content {
	text-align: center;
	margin: 6rem auto;
}

button {
	width: 9.688rem;
	background-color: #F15A29;
	border-color: #F15A29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
	margin: 0 auto;
}

button:hover {
	cursor: pointer;
	background-color: #CC4F26;
}

.introduction h1 {
	margin-top: 12rem;
	font-size: 3.125rem;
}

.introduction h3 {
	margin-top: -1rem;
	font-size: 1.563rem;
}

.introduction h1, .introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}

/* Icons Section */

.cases {
	background-color: #FFF;
	padding-bottom: 5rem;
}

.cases .content {
	margin-top: 7rem;
	padding: none;
	text-align: center;
}

.cases h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.5rem;
	font-weight: 300;
	margin-top: 7rem;
	margin-bottom: 3rem;
}

.cases .devices {
	float: left;
	width: 32.3333333%;
	display: inline-block;
	/* styles to assist with debugging */
	box-sizing: border-box;
	height: 4em;
	margin-bottom: 14rem;
}

.cases .devices h3 {
	font-weight: 400;
	font-size: 1.5rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* Footer */

.social {
	margin-top: 18rem;
	overflow: auto;
	text-align: center;
	padding-bottom: 9rem;
}

.social hr {
	border: 0;
	border-top: 1px solid #B6B6B4;
	margin: 1rem 0;
	display: block;
}

.social h5 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.social .icons > li {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	padding: 1rem;
}

.social .copy {
	font-size: 1rem;
	font-weight: 300;
	color: #B6B6B4;
}

.social .icons > li:hover {
	cursor: pointer;
}

.fa-circle {
	color: #4099FF;
}